
<% content_for :head do %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<% end %>

<% content_for :page_title, ' - Service domain admin - GOV.UK' %>

<% content_for :content do %>
  <main id="content">
    <%= content_for?(:main) ? yield(:main) : yield %>
  </main>
<% end %>

<%= render file: 'layouts/govuk_template' %>
